<aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="bsbSidebarLabel1">errandhelper</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="m-0 p-0 list-unstyled">
      <li class="side-bar-links" style="width: 100%; margin-bottom: 1rem;">
        <a [routerLink]="['/profile', user_type]"
           class="p-2 d-block text-decoration-none fw-bold"
           style="width: 100%;color: #485056;" routerLinkActive="active">
          Profile
        </a>
      </li>
      <li class="side-bar-links" style="width: 100%; margin-bottom: 1rem;">
        <a routerLink="/business"
           class="p-2 d-block text-decoration-none fw-bold"
           style="width: 100%;color: #485056;" routerLinkActive="active">
          Businesses
        </a>
      </li>
      <li class="side-bar-links" style="width: 100%; margin-bottom: 1rem;">
        <a routerLink="/orders"
           class="p-2 d-block text-decoration-none fw-bold"
           style="width: 100%;color: #485056;" routerLinkActive="active">
          Orders
        </a>
      </li>
    </ul>


  </div>
</aside>
