<aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="bsbSidebarLabel1">errandhelper</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="side-bar-links p-2" style="background-color: blueviolet;">
      Services
    </div>
    <div class="side-bar-links my-2 p-2"  style="background-color: violet;">
      Category
    </div>
  </div>
</aside>
