<!-- Hero 1 - Bootstrap Brain Component -->
<!-- <section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull py-5" style="background-image: url('https://images.unsplash.com/photo-1728019352830-eab1242cc806?q=80&w=2865&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <div class="container py-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
        <h2 class="display-3 fw-bold mb-3">Art of Design</h2>
        <p class="lead mb-5">Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn bsb-btn-xl btn-light gap-3">Explore Now</button>
          <button type="button" class="btn bsb-btn-xl btn-outline-light" routerLink="/authentication/register">Sign up</button>

        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- <section class="py-3 py-lg-5 py-xl-8">
  <div class="container overflow-hidden">
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h2 class="display-3 fw-bold mb-3">Find A Perfect ErrandHelper</h2>
        <p class="fs-4 mb-5">We work in a customized way by devising and handling entirely online projects with long-term partnerships.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-primary bsb-btn-2xl rounded-pill">Explore Now</button>
          <button type="button" class="btn btn-outline-primary bsb-btn-2xl rounded-pill" routerLink="/authentication/register">Sign up</button>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="position-relative">
          <div class="bsb-circle border border-4 border-warning position-absolute top-50 start-10 translate-middle z-1"></div>
          <div class="bsb-circle bg-primary position-absolute top-50 start-50 translate-middle" style="--bsb-cs: 460px;"></div>
          <div class="bsb-circle border border-4 border-warning position-absolute top-10 end-0 z-1" style="--bsb-cs: 100px;"></div>
          <img class="img-fluid position-relative z-2 hero-img" loading="lazy" src="https://images.unsplash.com/photo-1728019352830-eab1242cc806?q=80&w=2865&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->


<div class="container-fluid cover-page p-0">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-4 mt-lg-5">
      <h2 class="display-4 animated fadeIn mb-4 ">
        Find A <span class="text-primary">Perfect ErrandHelper</span> To Run
        Your Errands
      </h2>
      <p class="animated fadeIn mb-4 pb-2 lead">
        Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no.
        Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.
      </p>
      <div class="d-grid gap-2 d-sm-flex">
        <button type="button" class="btn btn-primary bsb-btn-2xl rounded-pill">Explore Now</button>
        <button type="button" class="btn btn-outline-primary bsb-btn-2xl rounded-pill" routerLink="/authentication/register">Sign up</button>
      </div>
      <!-- <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
        >Get Started</a
      > -->
    </div>
    <div class="col-md-6 animated fadeIn">
      <div class="owl-carousel header-carousel">
        <div class="owl-carousel-item">
          <img
            class="img-fluid rounded h-50"
            src="https://images.unsplash.com/photo-1728019352830-eab1242cc806?q=80&w=2865&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>