<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="card mb-3">
              <div class="card-body">
                <div class="navbar-brand">
                  <a class="" routerLink="/homepage">
                    <i class="fas fa-running me-2"></i>ErrandHub
                  </a>
                </div>

                <div class="p-4">
                  <form
                    class="row g-3 needs-validation"
                    [formGroup]="registerForm"
                    (ngSubmit)="registerUser()"
                  >
                    <div class="col-md-12 col-sm-12">
                      <label for="role" class="form-label"
                        >Select User Role</label
                      >
                      <select
                        class="form-select"
                        formControlName="role"
                        aria-label="Default select example"
                      >
                        <option value="client">Client</option>
                        <option value="business">Business</option>
                      </select>
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('role')?.invalid &&
                          registerForm.get('role')?.touched
                        "
                      >
                        Please select a user role.
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <label for="yourName" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        required
                        formControlName="first_name"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('first_name')?.invalid &&
                          registerForm.get('first_name')?.touched
                        "
                      >
                        Please enter your first name.
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <label for="yourName" class="form-label">Last Name</label>
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        required
                        formControlName="last_name"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('last_name')?.invalid &&
                          registerForm.get('last_name')?.touched
                        "
                      >
                        Please enter your last name.
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <label for="" class="form-label">Email</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        required
                        formControlName="email"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched
                        "
                      >
                        Please enter your email.
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <label for="" class="form-label">Phone Number</label>
                      <input
                        type="text"
                        name="phone"
                        class="form-control"
                        required
                        formControlName="phone"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('phone')?.invalid &&
                          registerForm.get('phone')?.touched
                        "
                      >
                        Please enter your phone.
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <label for="yourPassword" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        required
                        formControlName="password"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('password')?.invalid &&
                          registerForm.get('password')?.touched
                        "
                      >
                        Please enter your password.
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <label for="yourPassword" class="form-label"
                        >Confirm Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        required
                        formControlName="confirm_password"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerForm.get('confirm_password')?.invalid &&
                          registerForm.get('confirm_password')?.touched
                        "
                      >
                        Please enter your password.
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn create-btn w-100" type="submit">
                        Create Account
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="mb-0" style="font-size: 16px">
                        Already have an account?
                        <a
                          routerLink="/login"
                          style="color: var(--primary-blue); font-weight: 600"
                          >Log in</a
                        >
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
