<app-sidebar></app-sidebar>
<div class="main-content" style="position: relative">
  <app-navbar></app-navbar>
  <div
    class="spinner-border text-primary"
    role="status"
    style="position: absolute; top: 50%; left: 50%; z-index: 999"
    *ngIf="isLoading"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="controls">
    <div class="controls-row">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input
          type="text"
          id="searchInput"
          placeholder="Search by reference number, client name, or location..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>

      <div class="filter-group">
        <select
          id="statusFilter"
          [(ngModel)]="status"
          (change)="onStatusChange()"
        >
          <option value="">All Status</option>
          <option value="pending">Pending</option>
          <option value="in_progress">In progress</option>
          <option value="completed">Completed</option>
        </select>

        <button class="btn-primary" routerLink="/business/list">
          Select Business
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Reference Number</th>
          <th>
            <span *ngIf="isClient === 'client'">Business Name</span>
            <span *ngIf="isClient === 'business'">Client Name</span>
          </th>
          <th>Date Created</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let errand of errands; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ errand.reference_number }}</td>
          <td>
            <span *ngIf="isClient === 'client'">{{
              errand.business_name
            }}</span>
            <span *ngIf="isClient === 'business'">{{
              errand.client_name
            }}</span>
          </td>
          <td>{{ errand.created_at | date : "longDate" }}</td>
          <td>
            <span
              class="status-badge"
              [ngClass]="{
                pending: errand.status === 'pending',
                'in-progress': errand.status === 'in_progress',
                completed: errand.status === 'completed',
                rejected: errand.status === 'rejected',
                cancelled: errand.status === 'cancelled'
              }"
            >
              {{ errand.status.replace("_", " ") | titlecase }}
            </span>

            <!-- <span class="status-badge">{{ errand.status.replace('_', ' ') | titlecase }}</span> -->
          </td>
          <td>
            <div class="action-buttons">
              <button class="btn btn-secondary" [routerLink]="[errand.id]">
                View
              </button>
              <!-- <button class="btn btn-reject" *ngIf="isClient === 'business'">Reject</button> -->
              <!-- <button class="btn btn-delete" *ngIf="isClient === 'client' && errand.status ==='pending'">Delete</button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2" style="margin-left: 1rem">
      <ngb-pagination
        [collectionSize]="totalErrandListItems()"
        [page]="page()"
        [pageSize]="pageSize()"
        (pageChange)="onErrandListPageChange($event)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
